.circles:nth-child(n+0) {
  left: 0px;
  top: -100px;
}

.circles:nth-child(n+1) {
  left: -0.7885298686px;
  top: -87.4666766436px;
}

.circles:nth-child(n+2) {
  left: -3.1416838871px;
  top: -75.1310112835px;
}

.circles:nth-child(n+3) {
  left: -7.0223514112px;
  top: -63.1875447315px;
}

.circles:nth-child(n+4) {
  left: -12.3693319956px;
  top: -51.8246325898px;
}

.circles:nth-child(n+5) {
  left: -19.0983005625px;
  top: -41.2214747707px;
}

.circles:nth-child(n+6) {
  left: -27.1031372579px;
  top: -31.5452894071px;
}

.circles:nth-child(n+7) {
  left: -36.2576010251px;
  top: -22.9486757224px;
}

.circles:nth-child(n+8) {
  left: -46.4173205021px;
  top: -15.5672074498px;
}

.circles:nth-child(n+9) {
  left: -57.4220708435px;
  top: -9.5172947534px;
}

.circles:nth-child(n+10) {
  left: -69.0983005625px;
  top: -4.8943483705px;
}

.circles:nth-child(n+11) {
  left: -81.2618685414px;
  top: -1.7712749271px;
}

.circles:nth-child(n+12) {
  left: -93.7209480471px;
  top: -0.1973271572px;
}

.circles:nth-child(n+13) {
  left: -106.2790519529px;
  top: -0.1973271572px;
}

.circles:nth-child(n+14) {
  left: -118.7381314586px;
  top: -1.7712749271px;
}

.circles:nth-child(n+15) {
  left: -130.9016994375px;
  top: -4.8943483705px;
}

.circles:nth-child(n+16) {
  left: -142.5779291565px;
  top: -9.5172947534px;
}

.circles:nth-child(n+17) {
  left: -153.5826794979px;
  top: -15.5672074498px;
}

.circles:nth-child(n+18) {
  left: -163.7423989749px;
  top: -22.9486757224px;
}

.circles:nth-child(n+19) {
  left: -172.8968627421px;
  top: -31.5452894071px;
}

.circles:nth-child(n+20) {
  left: -180.9016994374px;
  top: -41.2214747708px;
}

.circles:nth-child(n+21) {
  left: -187.6306680042px;
  top: -51.8246325898px;
}

.circles:nth-child(n+22) {
  left: -192.9776485884px;
  top: -63.1875447315px;
}

.circles:nth-child(n+23) {
  left: -196.8583161117px;
  top: -75.1310112834px;
}

.circles:nth-child(n+24) {
  left: -199.2114701284px;
  top: -87.4666766432px;
}

.circles:nth-child(n+25) {
  left: -199.9999999924px;
  top: -99.999999999px;
}

.circles:nth-child(n+26) {
  left: -199.2114701135px;
  top: -112.5333233539px;
}

.circles:nth-child(n+27) {
  left: -196.8583160719px;
  top: -124.8689887104px;
}

.circles:nth-child(n+28) {
  left: -192.9776484977px;
  top: -136.8124552545px;
}

.circles:nth-child(n+29) {
  left: -187.6306678075px;
  top: -148.1753673789px;
}

.circles:nth-child(n+30) {
  left: -180.9016990231px;
  top: -158.7785251612px;
}

.circles:nth-child(n+31) {
  left: -172.896861891px;
  top: -168.4547104484px;
}

.circles:nth-child(n+32) {
  left: -163.7423972666px;
  top: -177.0513239782px;
}

.circles:nth-child(n+33) {
  left: -153.5826761423px;
  top: -184.4327919437px;
}

.circles:nth-child(n+34) {
  left: -142.5779226971px;
  top: -190.4827040436px;
}

.circles:nth-child(n+35) {
  left: -130.9016872388px;
  top: -195.1056492904px;
}

.circles:nth-child(n+36) {
  left: -118.7381088324px;
  top: -198.2287206096px;
}

.circles:nth-child(n+37) {
  left: -106.2790106948px;
  top: -199.8026644768px;
}

.circles:nth-child(n+38) {
  left: -93.7208740175px;
  top: -199.8026574233px;
}

.circles:nth-child(n+39) {
  left: -81.2617377262px;
  top: -198.2286971039px;
}

.circles:nth-child(n+40) {
  left: -69.0980727355px;
  top: -195.1056016613px;
}

.circles:nth-child(n+41) {
  left: -57.4216795018px;
  top: -190.4826172543px;
}

.circles:nth-child(n+42) {
  left: -46.4166570659px;
  top: -184.4326397125px;
}

.circles:nth-child(n+43) {
  left: -36.2564903118px;
  top: -177.0510622591px;
}

.circles:nth-child(n+44) {
  left: -27.101299815px;
  top: -168.4542669752px;
}

.circles:nth-child(n+45) {
  left: -19.0952954055px;
  top: -158.7777830573px;
}

.circles:nth-child(n+46) {
  left: -12.3644703968px;
  top: -148.1741398412px;
}

.circles:nth-child(n+47) {
  left: -7.0145683076px;
  top: -136.8104468912px;
}

.circles:nth-child(n+48) {
  left: -3.1293477677px;
  top: -124.8657370826px;
}

.circles:nth-child(n+49) {
  left: -0.7691640916px;
  top: -112.52811139px;
}

.circles:nth-child(n+50) {
  left: 0.0301224042px;
  top: -99.9917259047px;
}

body {
  background-image: linear-gradient(to right top, #000000, #0a0a0a, #1a1a1a, #202020, #252525);
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.container {
  left: 50%;
  top: 50%;
  position: absolute;
  -webkit-animation: spiral 120s ease-in-out infinite;
          animation: spiral 120s ease-in-out infinite;
}
.container .circles {
  width: 200px;
  height: 200px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  position: absolute;
  border-radius: 50%;
}
.container .circles p {
  display: none;
}

@-webkit-keyframes spiral {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(360deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
@keyframes spiral {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(360deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}